* {
  margin: 0;
  padding: 0;
}

a {
	color: white;
	font-style: italic;
}

/*Keyframes*/
@keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 50% {background-color:#b4cfe0;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px; background-color:#333;}
}

@-ms-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}


body {
	background-color: #333; 
	background-image: url('../img/snow.png'), url('../img/snow3.png'), url('../img/snow2.png');
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;
}

#container {
	width: 800px;	
	/*text-align: center;*/
	/*color: white;*/
	/*font: 100px/1 'Spirax', cursive;*/
	
	/*text-shadow: 0px 0px 4px rgba(255,255,255, 0.5);*/
}

#container p {
	/*font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
}
#holder{
	margin: 0 auto;
    display: block;
    position: absolute;
    left: calc(50% - 456px);
    top: 100px;
    margin-bottom: 300px;
}

body { color: #27ACE3;
	   font-family:Amatic SC, sans-serif;
	   font-size: 50px;
	   font-weight: bold;
	}
ul { width:912px; border-radius:6px; }
li {
	display:block;
	position:relative;
	padding:12px 6px; z-index:1;
	margin: 10px;
}
li:after {
	/*background:rgba(23,23,200,.2);*/
	display:block;
	position:absolute;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	content:' ';
	border-radius:6px;
	z-index:-1;
}
li {
	-moz-transition:border-top-width 0.1s ease-in;
	-webkit-transition:border-top-width 0.1s ease-in;
	border-top:0px solid rgba(0,0,0,0);
}
.marker { opacity:0.0; }




.eh-checkbox {
    display: none;
}
.eh-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.eh-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.eh-label:after {
    content:'';
    position: absolute;
    left: 10px;
    border: 1px solid #000;
    height: 12px;
    width: 12px;
}
.eh-checkbox + .eh-label {
    padding-left: 26px;
    height: 19px;
    display: inline-block;
    line-height: 19px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.eh-checkbox:checked + .eh-label:before {
    content:'\2713';
    position: absolute;
    left: 12px;
    font-size: 24px;
    color: #008000;
    top: 4px;
}